.slide-container {
    width: 100%;
    height: 85vh;

    .oneSlide {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;

        .slide-text {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 2rem 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #fff;

            .titleAdvert {
                font-size: 1.8rem;
            }

            .textAdvert {
                font-size: 1.3rem;
            }

            .checkButton {
                padding: 0.5rem 1rem;
                font-size: 1.5rem;
                margin-top: 3rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .slide-container {
        .oneSlide {
            .slide-text {
                .titleAdvert {
                    font-size: 2.8rem;
                }

                .textAdvert {
                    font-size: 1.6rem;
                }

                .checkButton {
                    padding: 1rem 1.5rem;
                    font-size: 1.8rem;
                    margin-top: 3rem;
                }
            }
        }
    }
}
