// variables
$light-color: #840404;
$middle-color: #650404;
$dark-color: #460505;
$font-color: #ffffff;
$border: 0.2rem;
@import 'index';

.create-event-container {
    width: 100%;
    height: auto;
    padding: 2rem 0;
    display: flex;
    justify-content: center;

    .event-form {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $mid-dark-blue;
        color: $font-color;
        box-shadow: -1.5rem 0.7rem $mid-light-blue;
        border-radius: $border;
        padding: 2rem 0;

        .h2-event {
            margin: 1rem 0;
            letter-spacing: 0.1rem;
        }

        .h5-event {
            width: 80%;
            margin: 0 auto;
            color:$dark-blue;
            align-self: flex-start;
        }
        .event-label {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: .3rem;

            .space-top {
                margin-top: 0.3rem;
            }
            .event-input,
            textarea {
                width: 100%;
                height: 2.5rem;
                padding: 1ch;
                margin: .3rem 0;
                border-radius: $border;
                border: none;
                font-size: 1.1rem;
                color: $dark-blue;
            }
            .event-textarea {
                height: auto;
            }
            .img-file {
                padding: 0;
                background-color: white;
                height: inherit;
                cursor: pointer;
                
            }
       
        }
        .event-btn {
            width: 80%;
            height: 2.8rem;
            margin: 1.2rem;
        }
    }
}

.form-control {
    width: 100%;
    opacity: 0;
}

@media screen and (min-width: 550px) {
    .create-event-container {
        .event-form {
            .event-label {
                .space-top {
                    margin-top: 0;
                }
            }

            .inline {
                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .inline-label {
                    width: 48%;
            
                }
            }
        }
    }
}

@media screen and (min-width: 725px) {
    .event-form {
        max-width: 50%;
    }
}