@import "index";

.events-container {
    width: 100%;
    min-height: 65vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .find-city {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        text-align: center;
        line-height: 1.2;
    }

    .find-event-type {
        color: $mid-blue;
    }

    .event-types {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            padding: 0.3rem 0;
            cursor: pointer;
            position: relative;

            &:after {
                background: $mid-blue;
            }

            &:hover:after {
                background: $mid-blue;
            }
        }

        .checkout {
            width: 12rem;
            margin: 1rem 0;
            z-index: 10;
            cursor: pointer;
            border: none;
            padding: 0.5rem;
            border-radius: 1rem;
            background-color: #ebecf0;
            color: #000;
            font-size: 1.1rem;
            text-align-last: center;
            font-family: "CodeProBold", cursive;
            text-transform: uppercase;
        }
    }

    .pool-event {
        width: 90%;
        min-height: 50vh;
        padding: 1rem 0;
        display: grid;
        grid-gap: 2rem 1rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin: 0 auto;
    }

    .load-more {
        width: 100%;
        padding: 1rem 0;
        margin: 1rem 0;
    }
}

.scroll-to-top {
    width: 50px;
    height: 50px;
    background-color: #256eac;
    right: 40px;
    bottom: 40px;
    position: fixed;
    z-index: 0;
    cursor: pointer;
    border-radius: 7px;
    transition: opacity 1s ease-in-out;
    box-shadow: 0 9px 25px 0 rgba(132, 128, 177, 0.28);
    border: none;
    outline: none;
    svg {
        fill: white;
        width: 38px;
        height: 38px;
    }
}

.scroll-to-top:active {
    transform: matrix(0.95, 0, 0, 0.95, 0, 0);
}

// }

@media screen and (min-width: 375px) {
    .events-container {
        .load-more {
            width: 18rem;
        }

        .find-city {
            font-size: 1.2rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .events-container {
        padding: 2rem;

        .find-city {
            font-size: 1.8rem;
        }

        .event-types {
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            h2 {
                padding: 0;
            }

            .checkout {
                width: 18rem;
            }
        }

        .load-more {
            width: 25rem;
            align-self: center;
        }
    }
}

@media screen and (min-width: 920px) {
    .events-container {
        .pool-event {
            grid-gap: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        }
    }
}

.loading-message {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    height: 50vh;

    @media screen and (min-width: 768px) {
        font-size: 1.5rem;
    }
}
