/* ------------------------- FONT FAMILIES ------------------------- */

// font family 'Bebas Neue'
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

// font family 'Montserrat'
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

// font family 'Ubuntu'
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

// font family 'Hallo Sans'
@font-face {
    font-family: "HalloSans";
    src: local("HalloSans"), url("../assets/fonts/Hallosans.otf") format("opentype"),
        url("../assets/fonts/Hallosansblack.otf") format("opentype"),
        url("../assets/fonts/Hallosanslight.otf") format("opentype");
}

// font family 'Code Pro Light'
@font-face {
    font-family: "CodeProLight";
    src: local("CodePro"), url("../assets/fonts/Codelight.otf") format("opentype");
}

// font family 'Code Pro Bold'
@font-face {
    font-family: "CodeProBold";
    src: local("CodePro"), url("../assets/fonts/Codebold.otf") format("opentype");
}

// font family 'Lincoln'
@font-face {
    font-family: "Lincoln";
    src: local("Lincoln"), url("../assets/fonts/Lincolnnormal.otf") format("opentype");
}

// font family 'Lincoln Stencil'
@font-face {
    font-family: "LincolnStencil";
    src: local("Lincoln"), url("../assets/fonts/Lincolnstencil.otf") format("opentype");
}

// font family 'Lincoln More Dots'
@font-face {
    font-family: "LincolnMoreDots";
    src: local("Lincoln"), url("../assets/fonts/Lincolnmoredots.otf") format("opentype");
}

// font family 'Lincoln Less Dots'
@font-face {
    font-family: "LincolnLessDots";
    src: local("Lincoln"), url("../assets/fonts/Lincolnlessdots.otf") format("opentype");
}

/* ------------------------- COLORS ------------------------- */

$dark-blue: #040b11;
$mid-dark-blue: #154065;
$mid-blue: #256eac;
$mid-light-blue: #68a7df;
$light-blue: #bcd8f1;

$dark-orange: rgb(161, 73, 15);
$orange: rgb(255, 115, 22);
$light-orange: rgb(255, 137, 59);

$dark-red: #460505;
$mid-red: #c10202;

$purple: #3f3d56;

/* ------------------------- RESET RULES ------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
}

body {
    font-family: "CodeProBold", cursive;
    position: relative;
}

/* ------------------------- Keyframes & Patterns ------------------------- */

.space-navbar {
    position: relative;
    top: 15vh;
}

.button {
    text-transform: uppercase;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    box-shadow: 1px 3px $dark-blue;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $mid-blue;
        z-index: -2;
    }

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $dark-blue;
        transition: all 0.3s;
        z-index: -1;
    }

    &:active {
        top: 3px;
        box-shadow: none;
    }

    &:hover {
        &:before {
            width: 100%;
        }
    }
}

.scale-in-center {
    -webkit-animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-from-left {
    -webkit-animation: slide-from-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-from-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-from-right {
    -webkit-animation: slide-from-right 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-from-right 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.puff-in-center {
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
    animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.bounce-in-top {
    -webkit-animation: bounce-in-top 1.1s both;
    animation: bounce-in-top 1.1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-12 17:53:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-12 17:55:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-from-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes slide-from-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes slide-from-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes slide-from-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-12 18:6:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-12 18:7:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
