/* ------------------------- FONT FAMILIES ------------------------- */

// font family 'Bebas Neue'
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

// font family 'Montserrat'
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

// font family 'Ubuntu'
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

// font family 'Hallo Sans'
@font-face {
    font-family: "HalloSans";
    src: local("HalloSans"), url("../assets/fonts/Hallosans.otf") format("opentype"),
        url("../assets/fonts/Hallosansblack.otf") format("opentype"),
        url("../assets/fonts/Hallosanslight.otf") format("opentype");
}

// font family 'Code Pro Light'
@font-face {
    font-family: "CodeProLight";
    src: local("CodePro"), url("../assets/fonts/Codelight.otf") format("opentype");
}

// font family 'Code Pro Bold'
@font-face {
    font-family: "CodeProBold";
    src: local("CodePro"), url("../assets/fonts/Codebold.otf") format("opentype");
}

// font family 'Lincoln'
@font-face {
    font-family: "Lincoln";
    src: local("Lincoln"), url("../assets/fonts/Lincolnnormal.otf") format("opentype");
}

// font family 'Lincoln Stencil'
@font-face {
    font-family: "LincolnStencil";
    src: local("Lincoln"), url("../assets/fonts/Lincolnstencil.otf") format("opentype");
}

// font family 'Lincoln More Dots'
@font-face {
    font-family: "LincolnMoreDots";
    src: local("Lincoln"), url("../assets/fonts/Lincolnmoredots.otf") format("opentype");
}

// font family 'Lincoln Less Dots'
@font-face {
    font-family: "LincolnLessDots";
    src: local("Lincoln"), url("../assets/fonts/Lincolnlessdots.otf") format("opentype");
}

/* ------------------------- RESET RULES ------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
}

body {
    font-family: "CodeProBold", cursive;
}

/* ------------------------- Keyframes & Elements ------------------------- */

.button {
    text-transform: uppercase;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    box-shadow: 1px 3px #460505;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #c10202;
        z-index: -2;
    }

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #e00202;
        transition: all 0.3s;
        z-index: -1;
    }

    &:active {
        top: 3px;
        box-shadow: none;
    }

    &:hover {
        &:before {
            width: 100%;
        }
    }
}
