// variables 
$font-color: #ffffff;
$border: .2rem;

@import "index";


.login-container {
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    // margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

           
    .login-form {
        width: 80%;
        height: 100%;
        padding: 1.5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $mid-dark-blue;
        border-radius: $border; 
        box-shadow: -.8rem .5rem $mid-light-blue;
        // transform: skewX(-2deg);
        
        .h2 {
            margin: 1rem 0;
            // padding: 0 0 2rem;
            letter-spacing: .1rem;
            color: $font-color;
        }
        
        .login-field {
            width: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            
            .log-icons {
                font-size: 1.8rem;
                color: $dark-blue;
            }
            .login-input { 
                height: 2.8rem;
                width: 90%;
                margin-left: 1rem ;
                padding: 1ch;
                border: none;
                border-radius: $border;
                font-size: 1.1rem;      
                color: $dark-blue;
            }
        }

        .login-btn {
            height: 2.8rem;
            width: 90%;
            // padding: 1.5rem;
            margin: 1rem 0;
            font-size: 1.2rem;  
        }
    }
    .github-log {
        width: 80%;
        margin-top: 1rem;
        padding: .5rem 0;
        text-align: center;
        color:$dark-blue;

        .github-icon {
            margin: 0 .3rem;
            font-size: 1rem;
            color: $dark-blue;  
        }
        .github-link{
            padding: .2rem;
            cursor: pointer;
            text-decoration: none;
            color:$light-blue;

            &:link {
                color:$mid-light-blue;
            }
            &:visited {
                color:$mid-blue;
            }
            &:hover {
                color:$mid-dark-blue;
            }
            &:active {
                color:$dark-blue;
            }
        }
    }
}

@media screen and(min-width: 650px){
    .login-form {
        max-width: 40%;
        max-height: 70%;
        
    }
}


.devCoding {
    display: block;
    width: 20%;
    height: 40%;
    align-self: flex-end;
    position: absolute;
    bottom: 10rem;
    right: 3rem ;

}



