// variables 
$light-color:#840404;
$middle-color:#650404;
$dark-color:#460505;
$font-color: #ffffff;
$border: .2rem;


.login-container {
    width: 100%;
    height: auto;
    padding: 2rem 0;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

           
    .login-form {
        width: 80%;
        height: 100%;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $light-color;
        border-radius: $border; 
        box-shadow: -1.5rem .7rem $middle-color;
        // transform: skewX(-2deg);
        
        .h2 {
            margin: 1rem 0;
            // padding: 0 0 2rem;
            letter-spacing: .1rem;
            color: $font-color;
        }
        
        .login-field {
            width: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 1rem 1rem;
            
            .log-icons {
                font-size: 1.8rem;
                color: $dark-color;
            }
            
            .login-input { 
                height: 2.8rem;
                width: 90%;
                margin-left: 1rem ;
                padding: 1ch;
                border: none;
                border-radius: $border;
                font-size: 1.1rem;      
                color: $dark-color;
            }
        }

        .login-btn {
            height: 3rem;
            width: 90%;
            // padding: 1.5rem;
            margin: 1rem 0;
            font-size: 1.2rem;  
        }
    }
}

@media screen and(min-width: 650px){
    .login-form {
        max-width: 40%;
        max-height: 70%;
        
    }
}


.devCoding {
    display: block;
    width: 20%;
    height: 40%;
    align-self: flex-end;
    position: absolute;
    bottom: 10rem;
    right: 3rem ;

}



