// variables 
$light-color:#840404;
$middle-color:#650404;
$dark-color:#460505;
$font-color: #ffffff;
$border: .2rem;


.main-container {
    width: 100%;
    height: auto;
    paddind-top: 2rem;
    display: flex;
    justify-content: center;
           
    .login-form {
        width: 60%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: $light-color;
        border-radius: $border; 
        box-shadow: -1.5rem .7rem $middle-color;
        // transform: skewX(-2deg);
        
        h2 {
            margin: 1rem 0;
            letter-spacing: .1rem;
            color: $font-color;
        }

        label {
            display: flex;
            flex-direction: row;
            align-items: center;
            

            .icon {
                font-size: 2rem;
                color: $dark-color;
                margin: 1rem;
            }
            
            input { 
                height: 2.8rem;
                width: 18rem;
                padding: 1ch;
                border: none;
                border-radius: $border;
                font-size: 1.1rem;
                color: $dark-color;
            }
        }

        button {
            height: 2.8rem;
            width: 18rem;
            // padding-left:.5rem;
            margin-left: 3.7rem;
            cursor: pointer;
            border: none;
            border-radius: $border;
            font-size: 1.1rem;
            letter-spacing: .1rem;
            color:$font-color;
            background-color: $dark-color;
            
            &:hover {
                transform: scaleX(1.1) scaleY(1.1);
                transition: .6s ease-in-out;
            }
        }
    }
    
}

.devCoding {
    display: block;
    width: 20%;
    height: 40%;
    align-self: flex-end;
    position: absolute;
    bottom: 10rem;
    right: 3rem ;

}



