@import "index";

header {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 2px solid $dark-blue;
    background-color: $dark-blue;
    z-index: 100;
    position: fixed;
    top: 0;

    a {
        text-decoration: none;
        height: 100%;
    }

    /* logo with h1 element text */

    #logo {
        height: 100%;
        font-size: 2.5rem;
        cursor: pointer;
        color: #fff;
        padding-left: 2rem;
        background-color: $dark-blue;
        display: flex;
        align-items: center;
        text-align: center;
    }

    /* logo image */

    // #logo {
    //     height: 100%;
    //     cursor: pointer;
    //     padding-left: 1rem;
    //     display: flex;
    //     align-items: center;
    //     text-align: center;

    //     #logo-img {
    //         width: 12rem;
    //         height: auto;
    //     }
    // }

    .menu-bars {
        font-size: 2.5rem;
        cursor: pointer;
        color: #fff;
        margin-right: 2rem;
        position: relative;
        top: -3px;
    }

    nav {
        position: absolute;
        top: 15vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition-duration: 0.8s;
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);

        .nav-group {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 1rem 0;

            &:nth-child(1) {
                background-color: $mid-dark-blue;
            }

            &:nth-child(2) {
                background-color: $mid-blue;
            }

            li {
                height: 100%;
                text-align: center;
                padding: 1rem 0;
                color: #fff;
                line-height: 2;
                position: relative;

                a {
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (min-width: 670px) {
    header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: $mid-dark-blue;
        overflow-y: hidden;

        /* logo with h1 element text */

        #logo {
            grid-column: 1;
            clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);

            @media screen and (min-width: 800px) {
                font-size: 3rem;
            }
        }

        /* logo image */

        // #logo {
        //     grid-column: 1;
        //     clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
        //     background-color: $dark-blue;

        //     #logo-img {
        //         width: 15rem;
        //         height: auto;
        //     }
        // }

        .menu-bars {
            display: none;
        }

        nav {
            grid-column: 2/-1;
            flex-direction: row;
            position: relative;
            top: 0;
            height: 100%;
            transition-duration: 0s;
            left: 0;

            .nav-group {
                width: 50%;
                flex-direction: row;

                @media screen and (min-width: 900px) {
                    font-size: 1.2rem;
                }

                &:nth-child(2) {
                    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
                }
            }
        }
    }
}

/* links underline effect */

.underline {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        display: block;
        margin-top: 5px;
        right: 0;
        background: #fff;
        transition: width 0.3s ease;
        -webkit-transition: width 0.2s ease;
    }
    &:hover:after {
        width: 100%;
        left: 0;
        background: #fff;
    }
}

.selected-section {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        height: 3px;
        display: block;
        margin-top: 5px;
        background: #fff;
        transition: width 0.3s ease;
        -webkit-transition: width 0.2s ease;
    }
}
