// variables
$light-color: #840404;
$middle-color: #650404;
$dark-color: #460505;
$font-color: #ffffff;
$border: 0.2rem;

// blue colors
@import "index";

.signup-container {
    width: 100%;
    height: auto;
    padding: 2rem 0;
    // margin-bottom: 2rem;
    display: flex;
    justify-content: center;

    .signup-form {
        width: 90%;
        height: 100%;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $mid-dark-blue;
        box-shadow: -0.8rem 0.5rem $mid-light-blue;
        border-radius: $border;
        color: $font-color;

        .h2-signup {
            margin: 1rem 0;
            letter-spacing: 0.1rem;
            text-align: center;
        }
        .h5-signup {
            width: 90%;
            padding: 0.3rem 2rem;
            color: $dark-blue;
        }
        .signup-select {
            width: 100%;
            height: 2rem;
            border: none;
            border-radius: $border;
            margin: 0.5rem 0;
            padding: 1ch;

            .signup-opt {
                padding: 1ch;
                margin-left: 1ch;
                font-size: 1.1rem;
            }
        }
        .signup-label {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0.3rem;

            .signup-input {
                height: 2.5rem;
                width: 100%;
                padding: 1ch;
                margin: 0.3rem 0;
                border-radius: $border;
                border: none;
                font-size: 1.1rem;
                color: $dark-blue;
            }
        }
        .avatar-container {
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            

            div {
                width: 33%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }            
        }


        .avatar-container-org {
            width: 80%;
            display: flex;

            div {
                margin: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 1rem;

                img {
                    display: block;
                }
            }
        }

        .avatar {
            width: 80px;
            height: 80px;
        }
        [type="radio"] {
            width: 0;
            height: 0;
            position: absolute;
            opacity: 0;

            label {
                cursor: pointer;
            }
            &:checked + label {
                outline: 3px solid $mid-light-blue;
            }
        }
        .sign-btn {
            width: 80%;
            height: 2.8rem;
            // margin: 1rem auto;
            font-size: 1.2rem;
        }
    }
}

@media screen and (min-width: 650px) {
    .signup-form {
        max-width: 50%;

        .sign-btn {
            padding: 0.8rem 0;
        }

        .avatar-container {   
            margin: 0 auto;
            flex-wrap: nowrap;
            div {
                width: 100%;
                flex-wrap: nowrap;
            }
            
        }
         
    }
}
