// variables 
$light-color:#840404;
$middle-color:#650404;
$dark-color:#460505;
$font-color: #ffffff;
$border: .2rem;

.signup-container {
    width: 100%;
    height: auto;
    padding: 2rem 0;
    // margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    
    .signup-form {
        width: 80%;
        height: 100%;
        // margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        background-color: $light-color;
        box-shadow: -1.5rem .7rem $middle-color;
        border-radius: $border;
        color: $font-color;

        .h2-signup {
            margin: 1rem 0;
            letter-spacing: .1rem;
            text-align: center;
        }
        .h5-signup {
            width: 20%;
            margin: 0 auto;
            padding: .3rem 0;
            color: black;
        }
        .signup-select {
            height: 2rem;
            border: none;
            border-radius: $border;
            margin:.5rem 0;
            padding:1ch;

            .signup-opt {
                padding: 1ch;
                margin-left:1ch;
                font-size: 1rem;
            }
        }
        

        .signup-field {
            width: 15rem;
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: center;
            padding: .3rem .5rem;

            .signup-input {
                height: 2rem;
                width: 100%;
                padding: 1ch;
                margin: .3rem 0;
                border-radius: $border;
                font-size: 1rem;
                color: $dark-color;
            }
        }

        .sign-btn {
            margin: 1rem;
            width: 15rem;
            align-self: center;

        }
        
    }
}

